
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section{text-align: center}
section img{max-height: 300px; margin: 20px auto}
section h2{font-size: 22px;font-weight: 300;letter-spacing: 1px;line-height: 30px;}
section a{
  color: #789D7E;
  font-style: italic;
  transition: 0.3s;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}
.divider{width: 150px;margin: 0 auto;border-bottom: 1px solid #DADBDD;}
