.row{
	display: flex;
	align-items: flex-start;
}

.row .column{
	width: 50%;
	text-align: center;
}

.column p{
	text-align: left;
}

.column img{
	width: 100%;
	max-width:309px;
}

@media screen and (max-width: 767px) {
	.row{
		flex-direction: column;
	}

	.row .column{
		width: 100%!important;
		margin-bottom: 10px;
	}
}